allow init debugfs:dir mounton;
allow init sdcardd_exec:file execute;
allow init sdcardd_exec:file execute_no_trans;
allow init sdcardd_exec:file execute;
